*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #1E2126;
    color: #F0F0F0;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.repo-btn{
    border: 1px solid #F0F0F0;
    margin: 10px;
    color: #F0F0F0;
    height: 50px;
    width: 152px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.repo-div{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.repo-input{
    border-style: none;
    height: 50px;
    width: 150px;
    border-bottom: 1px solid #F0F0F0;
    margin: 10px;
    outline: none;
    background: transparent;
    color: #F0F0F0;
}

.repo-input::placeholder{
    color: #F0F0F0;
    font-size: 16px;
    opacity: 0.5;
}

.form-div{
    height: 100vh;
    background:#1E2126;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.form{
    border: 1px solid #F0F0F0;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.border-for-form{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
}


.form-input {
    width: 210px;
    margin: 0 auto;
    height: 30px;
    background: #1E2126;
    outline: none;
    border: none;
    border-bottom: 1px solid #F0F0F0;
    color: #F0F0F0;
    margin-bottom: 10px;
    text-align: center;
}

.form-input::placeholder{
    color: #9B9B9B;
    font-size: 14px;

}


.form-btn{
    border-style: none;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid #F0F0F0;
    width: 100px;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
    color: #F0F0F0;
    background: transparent;
}

.form-btn:hover{
    background: #F0F0F0;
    color:#1E2126;
}

.readme-page{
    font-family: 'Merriweather', sans-serif;
}

.readme-text{
    color: #F0F0F0;

}

.header {
    width: 100%;
    background: #1E2126;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

.link-header-btn{
    color: #F0F0F0;
    line-height: 70px;
    border-radius: 3px;
    border:1px solid #F0F0F0;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
}

.user-avatar{
    width: 65px;
    height: 65px;
    margin:5px;
    border-radius: 50%;
}